{% extends 'base.html' %}
{% block title %} Analysis {% endblock %}
<!--
    Dropdown list for variables 
    Click to add more variables
    + button add more

 -->
{% block content %}
    <div>
        Select a Learning Algorithm:
    </div>
    <br>
    <form action="{{url_for('learning.learning_api')}}" method="POST">
        <div>
            <input type="radio" class="btn-check" name="learning_algo" id="option1" autocomplete="off" value="Linear Regression">
            <label class="btn btn-secondary" for="option1">Linear Regression</label>
            <input type="radio" class="btn-check" name="learning_algo" id="option2" autocomplete="off" value="Ensembles">
            <label class="btn btn-secondary" for="option2">Ensembles</label>
            <input type="radio" class="btn-check" name="learning_algo" id="option3" autocomplete="off" value="Neural Network">
            <label class="btn btn-secondary" for="option3">Neural Network</label>
        </div>
        <div>
            Independent Variables X
            {% for attr in data.sample_map %}
                <input type="checkbox" class="btn-check" name="indep-{{attr}}" id="indep-{{attr}}" autocomplete="off" value="{{attr}}">
                <label class="btn btn-secondary" for="indep-{{attr}}">{{attr}}</label>        
            {% endfor %}

            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% for attr in data.sample_map %}
                        <li><button class="dropdown-item" type="button" name="indep-{{attr}}" id="indep-{{attr}}" value="{{attr}}" onclick="dataDistribution(value)">{{attr}}</button></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div>
            Dependent Variable Y
            {% for attr in data.sample_map %}
                <input type="radio" class="btn-check dep-radio" name="dep-{{attr}}" id="dep-{{attr}}" autocomplete="off" value="{{attr}}" onchange="selectedY(value)">
                <label class="btn btn-secondary" for="dep-{{attr}}">{{attr}}</label>
            {% endfor %}
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <div>        
        <canvas id="learning-chart" hidden="true"></canvas>

    </div>

<script>
    attrs_json = {{data.sample_map|safe}};
    attributes = Object.keys(attrs_json);

    // Default learning-chart
    let labels = Utils.months({count: 7});
    let data = {
        labels: labels,
        datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };
    let chart = new Chart(
        document.getElementById('learning-chart'),
        {
            type: 'line',
            data: data,
        }
    );

    function selectedY(attr) {
        
        for(let i = 0; i < attributes.length; i++) {
            if (attributes[i] != attr) {
                console.log("hi");
                console.log(`dep-${attributes[i]}`)
                document.getElementById(`dep-${attributes[i]}`).checked = false;
            }
        }
    }

    function model_data() {
        document.getElementById('learning-chart').hidden=false;        
        chart.destroy()
        // Data accuracy
        // ctx = {'y_test': Y_test, 'y_pred': test_data_pred, 'sample_map': sample_map}
        graphLabel = {{data.learning_algo|safe}}
        yTest = {{data.y_test|safe}}
        predictedPrice = {{data.y_pred|safe}}


        labels = yTest;
        data = {
            labels: labels,
            datasets: [{
                label: graphLabel,
                data: predictedPrice,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        chart = new(Chart)(
            document.getElementById('chart'),
            {
                type: 'line',
                data: data,                
            }
        );   
    }
    
</script>

{% endblock %}