{% extends 'base.html' %}
{% block title %} Analysis {% endblock %}
<!--
    Dropdown list for variables 
    Click to add more variables
    + button add more

 -->
{% block content %}
    <div>
        Select a Learning Algorithm:
    </div>
    <br>
    <form id="learningForm"  onsubmit="onSubmit()">
        <div>
            <input type="radio" class="btn-check" name="learning_algo" id="option1" autocomplete="off" value="Linear Regression">
            <label class="btn btn-secondary" for="option1">Linear Regression</label>
            <input type="radio" class="btn-check" name="learning_algo" id="option2" autocomplete="off" value="Ensembles">
            <label class="btn btn-secondary" for="option2">Ensembles</label>
            <input type="radio" class="btn-check" name="learning_algo" id="option3" autocomplete="off" value="Neural Network">
            <label class="btn btn-secondary" for="option3">Neural Network</label>
        </div>

        <div id="indep-variables">
            Independent Variables X
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary addBtn" type="button" id="addBtn-indep">+</button>                
            </div>

            <div class="dropdown">
                
                <select class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    {% for attr in data.sample_map %}
                        <option class="dropdown-item"  name="indep-{{attr}}" id="indep-{{attr}}" value="{{attr}}" onclick="dataDistribution(value)">{{attr}}</option>
                    {% endfor %}
                </select>
            </div>

        </div>
        <div id="dep-variables">
            Dependent Variables Y
            <div class="d-grid gap-2 d-md-block">
                <button class="btn btn-primary addBtn" type="button" id="addBtn-dep">+</button>                
            </div>
                    
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>

    <div>        
        <canvas id="learning-chart" hidden="true"></canvas>

    </div>

<script>
    attrs_json = {{data.sample_map|safe}};
    attributes = Object.keys(attrs_json);

    
    // Default learning-chart
    // let labels = Utils.months({count: 7});
    let labels = [1, 2, 3, 4, 5, 6, 7]
    let data = {
        labels: labels,
        datasets: [{
            label: 'My First Dataset',
            data: [65, 59, 80, 81, 56, 55, 40],
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
    };
    let chart = new Chart(
        document.getElementById('learning-chart'),
        {
            type: 'line',
            data: data,
        }
    );

    // -----    

    // TODO: to delete
    function selectedY(attr) {
        
        for(let i = 0; i < attributes.length; i++) {
            if (attributes[i] != attr) {
                // console.log("hi");
                // console.log(`dep-${attributes[i]}`)
                document.getElementById(`dep-${attributes[i]}`).checked = false;
            }
        }
    }

    /**
     * Create a graph out of machine learning algorithms during a get request.
     * 
    */
    function model_data() {
        document.getElementById('learning-chart').hidden=false;        
        chart.destroy()
        // Data accuracy
        // ctx = {'y_test': Y_test, 'y_pred': test_data_pred, 'sample_map': sample_map}
        graphLabel = {{data.learning_algo|safe}}
        yTest = {{data.y_test|safe}}
        predictedPrice = {{data.y_pred|safe}}

        labels = yTest;
        data = {
            labels: labels,
            datasets: [{
                label: graphLabel,
                data: predictedPrice,
                fill: false,
                borderColor: 'rgb(75, 192, 192)',
                tension: 0.1
            }]
        };

        chart = new(Chart)(
            document.getElementById('chart'),
            {
                type: 'line',
                data: data,                
            }
        );   
    }



    // --- X and Y variables form logic

    // x should have a map, while y should have one value.
    var indepVariables = {}
    var countIndepVars = 0
    var depVariable = ''

    /**
     * Creates html dropdown button and functionality
    */ 
    $(".addBtn").on("click", function() {        

        // x or y feature (variable)
        const feature = this.id

        let container = ''
        if (this.id == "addBtn-indep") {
            container = document.getElementById("indep-variables")
            countIndepVars++;
        }
        else {
            container = document.getElementById("dep-variables")
        }
                
        const newDiv = document.createElement("div")
        newDiv.className = "dropdown"

        container.appendChild(newDiv)

        var menuBtn = document.createElement("button")                
        menuBtn.className="btn btn-secondary dropdown-toggle"
        menuBtn.setAttribute('type', 'button')
        menuBtn.setAttribute('id', "dropdownMenu")
        menuBtn.setAttribute('data-bs-toggle', 'dropdown')
        menuBtn.setAttribute('aria-expanded', 'false')
        menuBtn.innerHTML = 'Dropdown'

        var ulMenu = document.createElement("ul")
        ulMenu.className = "dropdown-menu"
        ulMenu.setAttribute('aria-labelledby', 'dropdownMenu')
        
        newDiv.appendChild(menuBtn)
        newDiv.appendChild(ulMenu)

        for (var i = 0; i < attributes.length; i++) {
            var li = document.createElement("li")

            var btnItem = document.createElement("button")
            btnItem.setAttribute('type', 'button')
            btnItem.className="dropdown-item"
            btnItem.value = attributes[i];
            btnItem.text = attributes[i];
            btnItem.name = attributes[i];   
            btnItem.innerHTML = attributes[i];
            
            // TODO: create own function for assigning button functionality.
            if (this.id == "addBtn-dep") {
                // y variable
                btnItem.id = attributes[i];
                btnItem.onclick = function() {
                    depVariable = {name: 'dep-1', value: this.value}
                }

                // disable addBtn dependent variable (y) -- only 1 variable is allowed.
                addBtnDep = document.getElementById("addBtn-dep")                
                addBtnDep.disabled = true
                addBtnDep.hidden = true
            }
            else {
                btnItem.id = attributes[i].concat(countIndepVars);
                
                btnItem.onclick = function () {                
                    let btnId = this.id
                    var btnVal = 'indep-'
                    for (let i = btnId.length - 1; i >= 0; i--) {
                        let c = btnId[i]
                        if (c < '0' || c > '9') {
                            break
                        }
                        btnVal += btnId[i]                        
                    }
                    indepVariables[btnVal] = {name: btnVal, value: this.value}                                   
                }
            }
            li.appendChild(btnItem)            
            ulMenu.appendChild(li)
        }
    })

    /**
     * Form submit -- add values from variables hashmap to the form to submit via ajax.
     * 
     */
    function onSubmit() {
        // do AJAX -- Asynchronous Javascript And XML
        
        var data = $('#learningForm').serializeArray()
        
        // add indepvariables to formData
        Object.keys(indepVariables).forEach( key => {            
            data.push(indepVariables[`${key}`])
        })

        data.push(depVariable)
        
        $.ajax({
            type: 'POST',
            url: $(this).data('url'),
            data: data
            ,
            success: function (json_response) {
                // Successful AJAX response handling routine                
            },
            error: function(xhr, errmsg, err) {}

        })
    }
    
</script>

{% endblock %}