{% extends 'base.html' %}
{% block title %} API {% endblock %}


{% block content %}

<h1 class="text-center" style="margin: 3rem">Table</h1>
<div id="table-container">
    <table id="table" class="table">
        <thead>
            <tr>
                {% for column, value in table.items() %}
                <th>{{column}}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
                        
            <!-- Get 1st column -->
            {% for col in table.items()|first %}                
                <!-- Only use the 1st dict[key].value to loop through row indices -->
                <!-- {% if loop.index0 %}  -->
                    <!-- for every row in the 1st column -->                    
                    {% for row in col %}                        
                        <!-- Set idx to index into each column (dict key) list value -->
                        <!-- ith index -- the row's index -->
                        {% set idx = loop.index - 1%}

                        <!-- Set the row values -->
                        <!-- Loop through every column and set the value -->
                        <tr>
                        {% for column, value in table.items() %}                            
                            <td>{{value[idx]}}</td>
                        {% endfor %}
                    <!-- {% endfor %} -->
                </tr>
                {% endif %}
                
            {% endfor %}
        </tbody>
        
    </table>
</div>

<script>
    num_cols = document.getElementById('table').rows[0].cells.length
    
    $(document).ready(function () {
      $('#table').DataTable({
        pageLength: 100,
        "language": {
            search: 'Filter:',
        },
        columns: [
            {orderable: false, searchable: true},
            {orderable: false, searchable: true},
            {orderable: false, searchable: true},
            {orderable: false, searchable: true},
            {orderable: false, searchable: true},
            {orderable: false, searchable: true}, 
            {orderable: true, searchable: true}, 
            {orderable: true, searchable: true},
        ],
        order: [[6, "asc"]]
      });
    });
</script>

{% endblock %}